/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  img {
    border-radius: 20%;
    height: 50%;
    width: 600px;
  }
  
  /* Estilos gerais */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #023047;
    margin-bottom: 60px; /* Adicionando espaço para o rodapé */
  }
  
  .container {
    display: flex;
    justify-content: space-between; /* Espaçamento entre as receitas */
    flex-wrap: wrap; /* Quebra de linha quando o espaço é insuficiente */
  }
  
  header {
    background-color: #fb8500;
    color: #ffffff;
  }
  
  .navbar {
    padding: 10px 0;
  }
  
  .navbar ul {
    list-style: none;
    text-align: center;
  }
  
  .navbar ul li {
    display: inline;
    margin: 0 10px;
  }
  
  .navbar ul li a {
    color: #023047;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #000;
      text-shadow: 
               -1px -1px 0px #FFF, 
               -1px 1px 0px #FFF,                    
                1px -1px 0px #FFF,                  
                1px 0px 0px #FFF;
  }
  
  .navbar ul li a:hover {
    text-decoration: underline;
  }
  
  main {
    text-align: center;
    padding-top: 40px;
  }
  
  .center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
  }
  
  .logo {
    width: 250px; /* ajuste o tamanho conforme necessário */
    height: 350px;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fb8500;
    color: #fffbfb;
    text-align: center;
    padding: 0.2px;
    color: #000;
      text-shadow: 
               -1px -1px 0px #FFF, 
               -1px 1px 0px #FFF,                    
                1px -1px 0px #FFF,                  
                1px 0px 0px #FFF;
  }
  
  footer p {
    margin: 0;
  }
  
  .frase {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: large;
    color: #ffffff;
  }

  /* Estilos para tornar o menu responsivo */
@media screen and (max-width: 768px) {
    .navbar ul {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .navbar ul li {
      margin: 10px 0;
    }
  }